.flex-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.inline{
	display: inline;
}

.center-text{
	text-align: center;	
}

.hidden{
	visibility: hidden;
}

.range-input{
	width: 100%;
}

.parameter-value{
	font-weight: bold;
	font-size: 1.2rem
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

button{
	border-style: solid;
	background-color: #3830df;
	color: white;
	padding: 10px;
	font-size: 1.2rem;
	border-radius: 50%;
	transition-duration: 0.4s;
}

button:hover{
	background-color: #60df30;
	cursor: pointer;
}

#result{
	display: flex;
	margin: auto;
	font-weight: bold;
	font-size: 1.2rem;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
}

#menu{
	text-align: center;
	flex-basis: 20%;
}

#rolling{
	text-align: center;
	flex-basis: 40%;
}

#stats{
	flex-basis: 40%;
}


#history-distribution{
	min-width: 250px;
}

#probabilities{
	min-width: 250px;
}

.die {
	height: 100px;
	width: 100px;
}

.die rect {
	stroke-width: 4px;
	stroke: black;
	fill: white;
}