#result{
	display: flex;
	margin: auto;
	font-weight: bold;
	font-size: 3rem;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
	min-height: 15rem;
}

#menu{
	text-align: center;
	flex-basis: 20%;
}

#rolling{
	text-align: center;
	flex-basis: 40%;
}

#stats{
	flex-basis: 40%;
}

@media all and (max-width: 1270px){
	#menu{
		flex-basis: 30%;
	}

	#rolling{
		flex-basis: 70%;
	}

	#stats{
		flex-basis: 100%;
	}
}

#history{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.625rem;
}

#history > li{
	min-width: 5rem;
}

#roll-button{
	border-radius: 100%;
	background-color: red;
	aspect-ratio : 1 / 1;
	font-size: 2rem;
}

#roll-button:hover{
	background-color:  #f56161;
}

.flex-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: start;
}

.flex-even-split-two > *{
	flex-basis: 50%;
}

.bars-display ul:first-child{
	flex-basis: 35%;
}

.bars-display ul:nth-child(2){
	flex-basis: 65%;
}

.inline{
	display: inline;
}

.center-text{
	text-align: center;	
}

.hidden{
	display: none !important;
}

.range-input{
	width: 100%;
}

.parameter-value{
	font-weight: bold;
	font-size: 1.2rem
}

.die {
	height: 100px;
	width: 100px;
}

.die rect {
	stroke-width: 4px;
	stroke: black;
	fill: white;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

button{
	border-style: solid;
	background-color: #3830df;
	color: white;
	padding: 0.625rem;
	font-size: 1.2rem;
	border-radius: 50%;
	transition-duration: 0.4s;
}

button:hover{
	background-color: #6470fe;
	cursor: pointer;
}
